.NavBar {
  display: flex;
  justify-content: center;
}

.NavBar-link {
  margin-left: 90px;
  color: darkmagenta;
}

.NavBar-welcome {
  color: royalblue;
}

.NavBar-list {
  margin-left: 20px;
  color: purple;
  font-size: 25px;
}
.NavBar-add {
  margin-left: 20px;
  color: darkmagenta;
  font-size: 25px;
}

.div {
  padding-bottom: 50px;
}
