.NavBar {
  display: flex;
  justify-content: center;
}

.NavBar-link {
  margin-left: 90px;
}

.NavBar-welcome {
  color: royalblue;
}

.NavBar-list {
  margin-right: 30px;
  color: purple;
  font-size: 25px;
}
.NavBar-add {
  margin-right: 30px;
  color: purple;
  font-size: 25px;
}
