.detail {
  text-align: center;
  margin-top: 40px;
}

.div {
  text-align: center;
}

div {
  font-weight: bold;
}
.t {
  margin-left: 500px;
}

.hydration {
  padding-bottom: 50px;
  margin-top: 50px;
}

form {
  margin-top: 40px !important;
}
